<!DOCTYPE html>
<html>

<head>
    <title><%= name%>-<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <style>
        .headtitle{
            font-family:"Vladimir Script";
            color:#884400;
            font-size:50px;
            font-weight:800;
            margin-left: 10%;
        }
        .setfont{
            font-family: "Vladimir Script";
            font-weight:800;
            font-size:25px;
            color:#884400;
        }
        .arttit{
            font-family: "Comic Sans MS";
            font-weight:800;
            font-size:30px;
            color:#884400;
        }
        .arttime{
            font-family: "Comic Sans MS";
            font-weight:800;
            font-size:15px;
            color:#884400;
        }
        .artframe{
            border:none;

        }
        .author{
            text-align:right;
            font-family: "Comic Sans MS";
            font-weight:800;
            font-size:20px;
            color:#884400;
        }
    </style>
</head>

<% include ../header.ejs %>

<body background="../images/background7.jpg" style="background-size:100% 500px">

<!--<a href = "./exhposting">Post new article</a>-->
<div class="container" style="background-color:#FFCC00;padding-bottom:20px;margin-top:80px">
    <p class = "headtitle"><%= title %> posts</p>
    <ul class="nav nav-tabs">
        <li><a href="#vegetables" data-toggle="tab" class="setfont">vegetables</a></li>
        <li><a href="#fruits" data-toggle="tab" class="setfont">fruits</a></li>
    </ul>

    <div class="tab-content">
        <!--display contents under 'all' tab-->
        <div class="tab-pane active" id="all">
            <% if (allArticle){
            for (var i = 0; i < allArticle.length; i++) {%>
            <a href="#" id = 'frame' class="list-group-item list-group-item-action flex-column align-items-start" style="background-color:#FFDD83;margin-top: 10px;height:320px">
                <div class="d-flex w-80 flex-row">
                    <img src="<%= '../ingredientSec/pictures/' + (allArticle[i].picturestart + allArticle[i].pictureno - 1) %>" style="width:315px;height:270px">
                    <div class="d-flex flex-column" style="margin-left:40px;width:600px;">
                        <p class="arttit"><%=allArticle[i].articlename%></p>
                        <p class="arttime"><%=allArticle[i].posttime%></p>
                        <iframe src="<%= '../ingredientSec/texts/' + allArticle[i].parastart + '.txt' %>" class="artframe" id="textframe"></iframe>
                        <script>
                            var frame = document.getElementById('textframe');
                            frame.onload = function () {
                                var body = frame.contentWindow.document.querySelector('body');
                                body.style.color = 'grey';
                                body.style.fontSize = '20px';
                                body.style.lineHeight = '20px';
                            };
                        </script>
                        <p class="author"><%=allArticle[i].authorname%></p>
                    </div>

                </div>

            </a>
            <%  }
            } else { %>
            No articles yet... Come back later!
            <% } %>
        </div>
        <!--display contents under 'main dish' tab-->
        <div class="tab-pane" id="vegetables">
            <% if (vegetables){
            for (var i = 0; i < vegetables.length; i++) {%>
            <a href="#" id = 'frame' class="list-group-item list-group-item-action flex-column align-items-start" style="background-color:#FFDD83;margin-top: 10px;height:320px">
                <div class="d-flex w-80 flex-row">
                    <img src="<%= '../ingredientSec/pictures/' + (vegetables[i].picturestart + vegetables[i].pictureno - 1) %>" style="width:315px;height:270px">
                    <div class="d-flex flex-column" style="margin-left:40px;width:600px;">
                        <p class="arttit"><%=vegetables[i].articlename%></p>
                        <p class="arttime"><%=vegetables[i].posttime%></p>
                        <iframe src="<%= '../ingredientSec/texts/' + vegetables[i].parastart + '.txt' %>" style="border: none" id="textframe"></iframe>
                        <p class="author"><%=vegetables[i].authorname%></p>
                    </div>

                </div>

            </a>
            <% }
            }else{ %>
            No articles yet... Come back later!
            <% }%>
        </div>
        <!--display contents under 'dishes' tab-->
        <div class="tab-pane" id="fruits">
            <% if (fruits){
            for (var i = 0; i < fruits.length; i++) {%>
            <a href="#" id = 'frame' class="list-group-item list-group-item-action flex-column align-items-start" style="background-color:#FFDD83;margin-top: 10px;height:320px">
                <div class="d-flex w-80 flex-row">
                    <img src="<%= '../ingredientSec/pictures/' + (fruits[i].picturestart + fruits[i].pictureno - 1) %>" style="width:315px;height:270px">
                    <div class="d-flex flex-column" style="margin-left:40px;width:600px;">
                        <p class="arttit"><%=fruits[i].articlename%></p>
                        <p class="arttime"><%=fruits[i].posttime%></p>
                        <iframe src="<%= '../ingredientSec/texts/' + fruits[i].parastart + '.txt' %>" style="border: none" id="textframe"></iframe>
                        <p class="author"><%=fruits[i].authorname%></p>
                    </div>

                </div>

            </a>
            <% }
            }else{ %>
            No articles yet... Come back later!
            <% }%>
        </div>
    </div>
</div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</html>
