<!DOCTYPE html>
<html>

  <head>
    <title><%= name%>-<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
      <style>
          .headtitle{
              font-family:"Vladimir Script";
              color:#884400;
              font-size:50px;
              font-weight:800;
              margin-left: 10%;
          }
          .setfont{
              font-family: "Vladimir Script";
              font-weight:800;
              font-size:25px;
              color:#884400;
          }
          .arttit{
              font-family: "Comic Sans MS";
              font-weight:800;
              font-size:30px;
              color:#884400;
          }
          .arttime{
              font-family: "Comic Sans MS";
              font-weight:800;
              font-size:15px;
              color:#884400;
          }
          .artframe{
              border:none;

          }
          .author{
              text-align:right;
              font-family: "Comic Sans MS";
              font-weight:800;
              font-size:20px;
              color:#884400;
          }
      </style>
  </head>

  <% include ../header.ejs %>

<body background="../images/background7.jpg" style="background-size:100% 500px">

<!--<a href = "./exhposting">Post new article</a>-->
<div class="container" style="background-color:#F5D777;padding-bottom:20px;margin-top:80px;width:55%;min-width:800px;min-height:400px;margin-bottom: 100px">
    <p class = "headtitle"><%= title %> posts</p>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#all" data-toggle="tab" class="setfont">All</a></li>
        <li><a href="#main" data-toggle="tab" class="setfont">Main Dish</a></li>
        <li><a href="#dish" data-toggle="tab" class="setfont">Dishes</a></li>
        <li><a href="#soup" data-toggle="tab" class="setfont">Soups</a></li>
        <li><a href="#dessert" data-toggle="tab" class="setfont">Desserts</a></li>
    </ul>

    <form method="post" id = 'form'>
        <input style="display: none" id="result" name="result">
    <div class="tab-content">
        <!--display contents under 'all' tab-->
        <div class="tab-pane active" id="all">
            <% if (allArticle){
               for (var i = 0; i < allArticle.length; i++) {%>
                <a href='#' id = '<%= 'all' + i %>' onclick="enterArticle(this)" class="list-group-item list-group-item-action flex-column align-items-start" style="background-color:#FFEE99;margin-top: 10px;height:320px">
                    <div class="d-flex w-80 flex-row" style="min-width:600px">
                        <img src="<%= '../exhibitionSec/pictures/' + (allArticle[i].picturestart + allArticle[i].pictureno - 1) %>" style="width:315px;height:270px">
                        <div class="d-flex flex-column" style="margin-left:40px;width:330px;">
                            <p class="arttit"><%=allArticle[i].articlename%></p>
                            <p class="arttime"><%=allArticle[i].posttime%></p>
                            <iframe src="<%= '../exhibitionSec/texts/' + allArticle[i].parastart + '.txt' %>" class="artframe" id="textframe"></iframe>
                            <script>
                                var frame = document.getElementById('textframe');
                                frame.onload = function () {
                                    var body = frame.contentWindow.document.querySelector('body');
                                    body.style.color = 'grey';
                                    body.style.fontSize = '20px';
                                    body.style.lineHeight = '20px';
                                };
                            </script>
                            <p class="author"><%=allArticle[i].authorname%></p>
                        </div>
                    </div>
                </a>
            <%  }
            } else { %>
                No articles yet... Come back later!
            <% } %>
        </div>

        <!--display contents under 'main dish' tab-->
        <div class="tab-pane" id="main">
            <% if (main){
               for (var i = 0; i < main.length; i++) {%>
                <a href='#' id = '<%= 'main' + i %>' onclick="enterArticle(this)" class="list-group-item list-group-item-action flex-column align-items-start" style="background-color:#FFEE99;margin-top: 10px;height:320px">
                    <div class="d-flex w-80 flex-row" style="min-width:600px">
                        <img src="<%= '../exhibitionSec/pictures/' + (main[i].picturestart + main[i].pictureno - 1) %>" style="width:315px;height:270px">
                        <div class="d-flex flex-column" style="margin-left:40px;width:600px;">
                            <p class="arttit"><%=main[i].articlename%></p>
                            <p class="arttime"><%=main[i].posttime%></p>
                            <iframe src="<%= '../exhibitionSec/texts/' + main[i].parastart + '.txt' %>" style="border: none" id="textframe"></iframe>
                            <p class="author"><%=main[i].authorname%></p>
                        </div>

                    </div>

                </a>
            <% }
            }else{ %>
                No articles yet... Come back later!
            <% }%>
        </div>

        <!--display contents under 'dishes' tab-->
        <div class="tab-pane" id="dish">
            <% if (dish){
            for (var i = 0; i < dish.length; i++) {%>
            <a href='#' id = '<%= 'dish' + i %>' onclick="enterArticle(this)" class="list-group-item list-group-item-action flex-column align-items-start" style="background-color:#FFEE99;margin-top: 10px;height:320px">
                <div class="d-flex w-80 flex-row" style="min-width:600px">
                    <img src="<%= '../exhibitionSec/pictures/' + (dish[i].picturestart + dish[i].pictureno - 1) %>" style="width:315px;height:270px">
                    <div class="d-flex flex-column" style="margin-left:40px;width:600px;">
                        <p class="arttit"><%=dish[i].articlename%></p>
                        <p class="arttime"><%=dish[i].posttime%></p>
                        <iframe src="<%= '../exhibitionSec/texts/' + dish[i].parastart + '.txt' %>" style="border: none" id="textframe"></iframe>
                        <p class="author"><%=dish[i].authorname%></p>
                    </div>
                </div>
            </a>
            <% }
            }else{ %>
            No articles yet... Come back later!
            <% }%>
        </div>
        <!--display contents under 'soups' tab-->
        <div class="tab-pane" id="soup">
            <% if (soup){
            for (var i = 0; i < soup.length; i++) {%>
            <a href='#' id = '<%= 'soup' + i %>' onclick="enterArticle(this)" class="list-group-item list-group-item-action flex-column align-items-start" style="background-color:#FFEE99;margin-top: 10px;height:320px">
                <div class="d-flex w-80 flex-row" style="min-width:600px">
                    <img src="<%= '../exhibitionSec/pictures/' + (soup[i].picturestart + soup[i].pictureno - 1) %>" style="width:315px;height:270px">
                    <div class="d-flex flex-column" style="margin-left:40px;width:600px;">
                        <p class="arttit"><%=soup[i].articlename%></p>
                        <p class="arttime"><%=soup[i].posttime%></p>
                        <iframe src="<%= '../exhibitionSec/texts/' + soup[i].parastart + '.txt' %>" style="border: none" id="textframe"></iframe>
                        <p class="author"><%=soup[i].authorname%></p>
                    </div>
                </div>
            </a>
            <% }
            }else{ %>
            No articles yet... Come back later!
            <% }%>
        </div>

        <!--display contents under 'desserts' tab-->
        <div class="tab-pane" id="dessert">
            <% if (dessert){
            for (var i = 0; i < dessert.length; i++) {%>
            <a href='#' id = '<%= 'dessert' + i %>' onclick="enterArticle(this)" class="list-group-item list-group-item-action flex-column align-items-start" style="background-color:#FFDD83;margin-top: 10px;height:320px">
                <div class="d-flex w-80 flex-row" style="min-width:600px">
                    <img src="<%= '../exhibitionSec/pictures/' + (dessert[i].picturestart + dessert[i].pictureno - 1) %>" style="width:315px;height:270px">
                    <div class="d-flex flex-column" style="margin-left:40px;width:600px;">
                        <p class="arttit"><%=dessert[i].articlename%></p>
                        <p class="arttime"><%=dessert[i].posttime%></p>
                        <iframe src="<%= '../exhibitionSec/texts/' + dessert[i].parastart + '.txt' %>" style="border: none" id="textframe"></iframe>
                        <p class="author"><%=dessert[i].authorname%></p>
                    </div>
                </div>
            </a>
            <% }
            }else{ %>
            No articles yet... Come back later!
            <% }%>
        </div>
    </div>
    </form>
</div>

<script>
    function enterArticle(article) {
        var result = document.getElementById('result');
        result.value = article.id;
        document.getElementById('form').submit();
    }
</script>
<% include ../cprt.ejs %>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</html>
