<!--This is the display of the homepage-->
<!DOCTYPE html>
<html>
<% include ../header.ejs %>
<head>
    <title><%= name%>-<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <style>
        .div-bottom{
            position:relative;
        }
        /*below are some pattern for displaying the video and pictures to give stunning visual effects*/
        .div-bottom video{
            min-width: 100%;
            width: 100%;
            min-height:700px;
            height: 100%;
            position:relative;
            margin-top:0;
            z-index:0;
            -webkit-filter: blur(0px);

        }
        .overlay{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            padding:1px;
            z-index:5;
        }
        .titlemid{
            position:relative;
            text-align:center;
            /*margin-left:4500%;*/
            /*margin-top: 12000%;*/
            font-weight:900;
            font-family:"Vladimir Script";
            /*font-size: 1000%;*/
            /*width: 70000%;*/
            /*height:300%;*/
            padding-top:12%;
            margin-left:0px;
            margin-top:0px;
            font-size:170px;
            width:100%;
            z-index:50;
            color:#FFA500;

        }

        .div-textmid1{
            position:relative;
            text-align:center;
            /*margin-left: 4500%;*/
            /*margin-top:25000%;*/
            font-weight:bold;
            font-family:"Vladimir Script";
            font-size:60px;

            /*font-size:300%;*/
            /*width:70000%;*/
            /*height:200%;*/
            color:#FFA500;
        }
        .div-textmid2{
            position:relative;
            text-align:center;

            font-weight:bold;
            font-family:"Vladimir Script";

            font-size:60px;

            color:#FFA500;
        }


    </style>
</head>



<body background="../images/background7.jpg" style="background-size:100% 500px">

<div class="container-fluid" style="padding:0px;">
<div class="div-bottom">

    <video id="video" poster="../images/videocover.jpg" autoplay muted loop>
        <source src="../images/homepage.mp4" type="video/mp4"/>
    </video>
    <div class="overlay">
        <h1 class = "titlemid"><%= title %></h1>
        <p class="div-textmid1">Welcome to <%= title %>!</p>
        <p class="div-textmid2">Cook and Share!</p>
    </div>
</div>
</div>



<div style="max-width: 1300px; margin:0 auto; padding: 10px">
    <div class="container-fluid">
        <form method="post" id = 'form'>
            <input style="display: none" id="result" name="result">
        <div class="row" style="margin-top:20px;">
            <div class="col-xs-8 col-sm-8 col-md-8 d-flex flex-row" style="margin-top: 15px; background-color: #ffdd83; border:10px solid #FFA500">
                <img src='<%=coverpic[0]%>' class="table-responsive img-thumbnail" style="height: 400px; width: 500px">
                <a href='#' id = '0' onclick="enterArticle(this)" class="d-flex flex-column" style="width:40%">
                    <div class="desc" style="text-align:center">
                        <p style="margin-top:140px;font-family:'Comic Sans MS';font-size:30px;color:#884400"><%=articles[0].articlename%></p>
                        <p style="color:#884400;font-family:'Comic Sans MS';font-size:20px;"><%=articles[0].authorname%></p>
                    </div>
                </a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4" style="margin-top: 15px; background-color: #FFDD83; border:10px solid #FFA500">
                <img src='<%=coverpic[1]%>'  class="table-responsive img-thumbnail" style="height: 300px">
                <a href='#' id = '1' onclick="enterArticle(this)" class="card-img-overlay text-center">
                    <div class="desc">
                        <p style="margin-top:280px;font-family:'Comic Sans MS';font-size:30px;color:#884400"><%=articles[1].articlename%></p>
                        <p style="font-family:'Comic Sans MS';color:#884400"font-size:20px;><%=articles[1].authorname%></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row" style="margin-top:20px; height:420px">

            <div class="col-xs-6 col-sm-6 col-md-6" style="margin-bottom: 15px; background-color: #FFDD83; border:10px solid #FFA500">
                <img src='<%=coverpic[2]%>'  class="table-responsive img-thumbnail" style="height: 300px;width:450px;margin: 0 auto">
                <a href='#' id = '2' onclick="enterArticle(this)" class="card-img-overlay text-center">
                    <div class="desc">
                        <p style="margin-top:270px;font-family:'Comic Sans MS';font-size:30px; color:#884400"><%=articles[2].articlename%></p>
                        <p style="font-family:'Comic Sans MS';font-size:20px;color:#884400"><%=articles[2].authorname%></p>
                    </div>
                </a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3" style="margin-bottom: 15px; background-color: #FFDD83; border:10px solid #FFA500">
                <img src='<%=coverpic[3]%>'  class="table-responsive img-thumbnail" style="height: 250px">
                <a href='#' id = '3' onclick="enterArticle(this)" class="card-img-overlay text-center">
                    <div class="desc">
                        <p style="font-family:'Comic Sans MS';font-size:30px;margin-top:250px; color:#884400"><%=articles[3].articlename%></p>
                        <p style="font-family:'Comic Sans MS';font-size:20px;color:#884400"><%=articles[3].authorname%></p>
                    </div>
                </a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3" style="margin-bottom: 15px; background-color: #FFDD83; border:10px solid #FFA500">
                <img src='<%=coverpic[4]%>'  class="table-responsive img-thumbnail" style="height: 250px">
                <a href='#' id = '4' onclick="enterArticle(this)" class="card-img-overlay text-center">
                    <div class="desc">
                        <p style="font-family:'Comic Sans MS';font-size:30px;margin-top:250px; color:#884400"><%=articles[4].articlename%></p>
                        <p style="font-family:'Comic Sans MS';font-size:20px;color:#884400"><%=articles[4].authorname%></p>
                    </div>
                </a>
            </div>
        </div>
        </form>
    </div>

</div>

<% include ../cprt.ejs %>

</body>

<script>
    function enterArticle(article) {
        var result = document.getElementById('result');
        result.value = article.id;
        document.getElementById('form').submit();
    }
</script>

</html>
