<!DOCTYPE html>
<html>

<head>
    <title><%= name%>-<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>

<script>
    document.addEventListener('error', function(e) {
        console.log(e);
    }, true);

    if (e) {
        imgpath = '../profileimgs/default';
    }
</script>

<% include ../header.ejs %>

<body background="../images/background7.jpg" style="background-size:100% 500px">
<% if (modify_message){ %>
<div class="bg-success container text-white w-75" style="font-size: 1.5em"><%= modify_message%></div>
<% } %>
<form class="w-50 mx-auto mt-5 p-3 border border-warning" style="background-color:#FFA500" method="post" action="/personalSec/modifypage" enctype="multipart/form-data">
    <div class="form-group">
        <label>User name</label><br>
        <label><%=user.username%></label>
    </div>
    <div class="form-group">
        <label>Email address</label><br>
        <label><%=user.email%></label>
        <input name="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter New email">
    </div>
    <div class="form-group">
        <label>Old Password</label>
        <input name = 'password' type="password" class="form-control" placeholder="Old Password">
    </div>
    <div class="form-group">
        <label>New Password</label>
        <input name = 'password1' type="password" class="form-control" placeholder="New Password">
    </div>
    <div class="form-group">
        <label>Confirm New Password</label>
        <input name = 'password2' type="password" class="form-control" placeholder="Confirm New Password">
    </div>
    <div class="form-group">
        <label>Description</label><br>
        <label><%=user.description%></label>
        <input name="description" type="text" class="form-control" placeholder="Enter New description">
    </div>
    <div class="form-group">
        <label>Profile Picture</label>
        <input name="profileimg" type="file" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit Modification</button>
</form>

<% include ../cprt.ejs %>
</body>

</html>