<!DOCTYPE html>
<html>

<head>
    <title><%= name%>-<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>

<% include ../header.ejs %>

<body background="../images/background7.jpg" style="background-size:100% 500px">
<div class="container-fluid" style="padding: 10px; text-align:center; background-image:url('../images/posttop.jpg');background-size:100% 100%;">
    <img class="img-thumbnail img-circle" style="width: 140px;margin: 0 auto"  src=<%= imgpath %>>
    <p>
    <h5 class="text-center" style="font-size:250%;font-weight:600;color:#884400"><%= user.username%><br><small><%= user.description%></small></h5>
    </p>
    <p>
        <button onclick="window.location.href='/exhibitionSec/exhposting'" style="background-color:#FFCC00" class="btn btn-small" type="button">New post</button>
        <button class="btn btn-small" type="button" Style="background-color:#FFCC00">Modify info</button>
    </p>
</div>
<div class="container-fluid" style="padding: 10px">
    <div class="row">
        <div class="col-2" style="text-align:right">
            <p>
                <a href="./profile" class="btn btn-warning" aria-pressed="true" role="button" style="width:75%">My Posts</a><br>
                <a href="./mycomment" class="btn btn-warning" aria-pressed="true" role="button" style="width:75%">My Comments</a><br>
                <a href="./myfollowing" class="btn btn-warning active" aria-pressed="true" role="button" style="width:75%">My Followings</a><br>
                <a href="./myfollower" class="btn btn-warning" aria-pressed="true" role="button" style="width:75%">My Followers</a><br>
                <a href="./mylike" class="btn btn-warning" aria-pressed="true" role="button" style="width:75%">My Likes</a>
            </p>
        </div>
        <div class="col-10">
            <div class="container-fluid" style="padding:10px">
                <div class="row">
                    <% for (var i = 0; i < followingno; i++) { %>
                    <div class="col-2" style="text-align:center;margin-top:10px;margin-bottom:10px;margin-right:60px;margin-left:40px;background-color:#FFCC00;padding-top:2px;">
                        <a href="./userpostpage">
                            <img src=<%=followingimg[i]%> class="img-thumbnail" style="width: 140px">
                            <p style="font-size:200%; color: #884400;font-weight: 600"><%=following[i].user2%></p>
                            <p style="font-size:100%; color:#884400"><%=following[i].description%></p>
                        </a>
                        <button class="btn btn-warning" aria-pressed="true" type="button">Unfollow</button>
                    </div>

                    <% } %>
                </div>

            </div>
        </div>
    </div>

</div>
<% include ../cprt.ejs %>
</body>

</html>