<!DOCTYPE html>
<html>

<head>
    <title><%= name%>-<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <style>
        .headtitle{
            font-family:"Vladimir Script";
            color:#884400;
            font-size:50px;
            font-weight:800;
            margin-left: 10%;
        }
        .setfont{
            font-family: "Vladimir Script";
            font-weight:800;
            font-size:25px;
            color:#884400;
        }
        .arttit{
            font-family: "Comic Sans MS";
            font-weight:800;
            font-size:30px;
            color:#884400;
        }
        .arttime{
            font-family: "Comic Sans MS";
            font-weight:800;
            font-size:15px;
            color:#884400;
        }
        .artframe{
            border:none;

        }
        .author{
            text-align:right;
            font-family: "Comic Sans MS";
            font-weight:800;
            font-size:20px;
            color:#884400;
        }
        .arttext{
            font-family:"Comic Sans MS";
            font-weight:800;
            font-size:20px;
            color:#884400;
            max-width:300px;
            word-wrap:break-word;
        }
    </style>
</head>

<script>
    document.addEventListener('error', function(e) {
        console.log(e);
    }, true);

    if (e) {
        imgpath = '../profileimgs/default';
    }
</script>

<% include ../header.ejs %>

<body background="../images/background7.jpg" style="background-size:100% 500px">


<div class="container-fluid" style="padding: 10px; text-align:center; background-image:url('../images/posttop.jpg');background-size:100% 100%;">
    <img class="img-thumbnail img-circle" style="width: 140px;margin: 0 auto"  src=<%= imgpath %>>
    <p>
    <h5 class="text-center" style="font-size:250%;font-weight:600;color:#884400"><%= user.username%><br><small><%= user.description%></small></h5>
    </p>
    <p>
        <button onclick="window.location.href='/exhibitionSec/exhposting'" class="btn btn-small" style="background-color:#FFCC00" type="button">New post</button>
        <button onclick="window.location.href='/personalSec/modifypage'" class="btn btn-small" style="background-color:#FFCC00" type="button">Modify info</button>
    </p>
</div>
<div class="container-fluid" style="padding: 10px; min-height:500px;">
    <div class="row">
        <div class="col-2" style="text-align:right">
            <p>

                <a href="./profile" class="btn btn-warning active" aria-pressed="true" role="button" style="width:75%;min-width:3.5cm">My Articles</a><br>
                <a href="./myhelp" class="btn btn-warning" aria-pressed="true" role="button" style="width:75%;min-width:3.5cm">My Helps</a><br>
                <a href="./mycomment" class="btn btn-warning" aria-pressed="true" role="button" style="width:75%;min-width:3.5cm">My Comments</a><br>
                <a href="./myfollowing" class="btn btn-warning" aria-pressed="true" role="button" style="width:75%;min-width:3.5cm">My Followings</a><br>
                <a href="./myfollower" class="btn btn-warning" aria-pressed="true" role="button" style="width:75%;min-width:3.5cm">My Followers</a><br>
                <a href="./mylike" class="btn btn-warning" aria-pressed="true" role="button" style="width:75%;min-width:3.5cm">My Likes</a>

            </p>

        </div>
        <div class="col-10">
            <div class="container-fluid" style="padding:10px">
                <div class="list-group mx-auto w-75">
                    <form method="post" id = 'form'>
                        <input style="display: none" id="result" name="result">
                        <% if(articleno == 0){%>
                            <div style="color:#884400;font-size:20px;font-weight:bold;margin-left:5%;font-family:'Comic Sans MS'">
                                <p>You have no post now! Click on the below button to post your first article!</p>
                                <button onclick="window.location.href='/exhibitionSec/exhposting'" class="btn btn-small" style="background-color:#FFCC00;margin-left:28%" type="button">New post</button>
                            </div>
                        <%}%>
                        <% for (var i = 0; i < articleno; i++) { %>
                            <% if(result[i].type=='article') { %>

                            <a href="#" id = '<%= i %>' onclick="enterArticle(this)" class="list-group-item list-group-item-action flex-column align-items-start" style="background-color:#FFCC00;margin-top: 10px;height:320px;width:800px">
                            <div class="d-flex w-80 flex-row">
                                <img src=<%=coverpic[i]%> style="width:315px;height:270px">
                                <div class="d-flex flex-column" style="margin-left:40px;width:400px;">
                                    <p class="arttit"><%=result[i].articlename%></p>
                                    <p class="arttime"><%=result[i].posttime%></p>
                                    <div class="arttext">
                                        <p><%=text[i]%></p>
                                    </div>


                                    <p class="author"><%=result[i].authorname%></p>
                                </div>


                            </div>

                            </a>



                            <% } %>
                        <% } %>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<% include ../cprt.ejs %>

</body>

<script>
    function enterArticle(article) {
        var result = document.getElementById('result');
        result.value = article.id;
        document.getElementById('form').submit();
    }
</script>

</html>